body {
    font-size: 15px !important;
    padding: 3%;
}

.is-hidden { display: none; }

.navibar{
  margin-top: 3.5% !important;
  margin-left: 1.5% !important;
  
}

.main{
  margin-left: 3% !important;
}

    .app-description {
      max-height: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Maksimum satır sayısı */
      -webkit-box-orient: vertical;
  }
    .app-description-alt {
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Maksimum satır sayısı */
    -webkit-box-orient: vertical;
  }

  h1{
    font-size: 3em !important;
  }
  h2{
    font-size: 2em !important;
  }
  h3{
    font-size: 1.15em !important;
    margin-top: 0.25em !important;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 5px;
  }
  
  .lcard {
    width: 48%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .rcard {
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
  }
  
  .card-alt {
    height: 100%;
    width: 11em
  }

.main-logo{
    content: url('logoalt.png');
  }
  @media (prefers-color-scheme: dark) {
    .main-logo {
      content: url('logo.png');
    }
  }
.responsive{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standart */
}