body {
    font-size: 15px !important;
    padding: 3%;
}

.is-hidden { display: none; }

body.dark {
    --primary:#78dc77 !important;
    --on-primary:#00390a !important;
    --primary-container:#005313 !important;
    --on-primary-container:#94f990 !important;
    --secondary:#baccb3 !important;
    --on-secondary:#253423 !important;
    --secondary-container:#3b4b38 !important;
    --on-secondary-container:#d5e8cf !important;
    --tertiary:#a0cfd4 !important;
    --on-tertiary:#00363b !important;
    --tertiary-container:#1f4d52 !important;
    --on-tertiary-container:#bcebf0 !important;
    --error:#ffb4ab !important;
    --on-error:#690005 !important;
    --error-container:#93000a !important;
    --on-error-container:#ffb4ab !important;
    --background:#1a1c19 !important;
    --on-background:#e2e3dd !important;
    --surface:#121411 !important;
    --on-surface:#e2e3dd !important;
    --surface-variant:#424940 !important;
    --on-surface-variant:#c2c9bd !important;
    --outline:#8c9388 !important;
    --outline-variant:#424940 !important;
    --shadow:#000000 !important;
    --scrim:#000000 !important;
    --inverse-surface:#e2e3dd !important;
    --inverse-on-surface:#2f312d !important;
    --inverse-primary:#006e1c !important;
    --surface-dim:#121411 !important;
    --surface-bright:#383a36 !important;
    --surface-container-lowest:#0c0f0c !important;
    --surface-container-low:#1a1c19 !important;
    --surface-container:#1e201d !important;
    --surface-container-high:#282b27 !important;
    --surface-container-highest:#333531 !important;
}

body.light {
    --primary:#006e1c !important;
    --on-primary:#ffffff !important;
    --primary-container:#94f990 !important;
    --on-primary-container:#002204 !important;
    --secondary:#52634f !important;
    --on-secondary:#ffffff !important;
    --secondary-container:#d5e8cf !important;
    --on-secondary-container:#111f0f !important;
    --tertiary:#38656a !important;
    --on-tertiary:#ffffff !important;
    --tertiary-container:#bcebf0 !important;
    --on-tertiary-container:#002023 !important;
    --error:#ba1a1a !important;
    --on-error:#ffffff !important;
    --error-container:#ffdad6 !important;
    --on-error-container:#410002 !important;
    --background:#fcfdf6 !important;
    --on-background:#1a1c19 !important;
    --surface:#f9faf4 !important;
    --on-surface:#1a1c19 !important;
    --surface-variant:#dee5d8 !important;
    --on-surface-variant:#424940 !important;
    --outline:#72796f !important;
    --outline-variant:#c2c9bd !important;
    --shadow:#000000 !important;
    --scrim:#000000 !important;
    --inverse-surface:#2f312d !important;
    --inverse-on-surface:#f0f1eb !important;
    --inverse-primary:#78dc77 !important;
    --surface-dim:#dadad4 !important;
    --surface-bright:#f9faf4 !important;
    --surface-container-lowest:#ffffff !important;
    --surface-container-low:#f3f4ee !important;
    --surface-container:#eeeee8 !important;
    --surface-container-high:#e8e9e2 !important;
    --surface-container-highest:#e2e3dd !important;
    }
    .app-description {
      max-height: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Maksimum satır sayısı */
      -webkit-box-orient: vertical;
  }
    .app-description-alt {
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Maksimum satır sayısı */
    -webkit-box-orient: vertical;
  }

  h1{
    font-size: 3em !important;
  }
  h2{
    font-size: 2em !important;
  }
  h3{
    font-size: 1.15em !important;
    margin-top: 0.25em !important;
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .lcard {
    width: 48%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .rcard {
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; 
  }
  
  .card-alt {
    height: 100%;
    width: 11em
  }

.main-logo{
    content: url('logoalt.png');
  }
  @media (prefers-color-scheme: dark) {
    .main-logo {
      content: url('logo.png');
    }
  }
.responsive{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standart */
}